<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="./favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="./css/style.css" />  
    <title>Reham | Home</title>
</head>
<body>
     <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->
    
    <!-- ⭐⭐⭐⭐⭐ breadcrumb  ⭐⭐⭐⭐⭐-->
    <div class="bottom__nav">
        <div class="breadcrumb__program">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item home" >
                        <a href="#">
                            <i class="fa-solid fa-house-chimney"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            برامجي
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1. أنوثة الديفا
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1.1 طاقة الأنوثة
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            الدروس
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
<!-- 🚫🚫🚫🚫  breadcrumb 🚫🚫🚫🚫-->
    
    <!-- ⭐⭐⭐⭐⭐ modal  ⭐⭐⭐⭐⭐-->
        <div class="modal fade home__modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header cen-col">
                
                <button type="button" class="close close__icon" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                </button>
                <div class="modal__logo ">
                    <img src="./src//images/logo-pink.png" class="img-fluid" alt="reham">
                </div>
                </div>
                <div class="modal-body text-center">
                    <p class="content__top">
                        سوف يتوفر الفصل / البرنامج بتاريخ
                    </p>
                    <p class="content__date">
                        5/02/203
                    </p>
                    <p class="content__bottom">
                    يري الاطلاع علي صفحةالرزنامة الخاصة بك لمعرفة مواعيد الفصول / البرامج القادمة 
                    </p>
                    <p class="content__last">
                        شكرا
                    </p>
                </div>
            </div>
            </div>
        </div>
    <!-- 🚫🚫🚫🚫  modal 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ layout  ⭐⭐⭐⭐⭐-->
    <div class="layout-main">
        <div class="container-fluid">
            <div class="d-flex layout-row">
                <div class="side-open" id="sideMainOpen">
                    <div class="icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>
                <div class="side-menu --close" id="sideMenu">
                    <!-- ⭐⭐⭐⭐⭐ sidebar  ⭐⭐⭐⭐⭐-->
                    <aside class="side__bar-main">
                        <div class="aside__top">
                            <div class="close-side" id="closeSideMain">
                                <div class="icon">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <form action="" class="aside__form">
                                <input type="search" class="__input" placeholder="ابحث">
                            </form>
                        </div>
                        <ul class="side__items__section">
                            <li class="side__item heading --heading-active">
                                <a href="./index.html">
                                    الرئيسية
                                </a>
                            </li>
                            <li class="side__item --active">
                                <a href="./getting-started/index.html">
                                    البداية
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="./lessone-page/index.html">
                                    البرنامج
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="./bounce-courses/index.html">
                                    المواد الاضافيه
                                </a>
                            </li>
                        </ul>
                        <ul class="side__items__section">
                            <li class="side__item heading">
                                <p class="heading">
                                    الموارد
                                </p>
                            </li>
                            <li class="side__item ">
                                <a href="./calendar/index.html">
                                    الرزمانة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="./fqa/index.html">
                                    الاسئلة الشائعة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="./questionnaire/index.html">
                                    اراء المشتركين
                                </a>
                            </li>
                        </ul>
                        <div class="aside__bottom">
                            <p class="heading">شاركنا قصتك الملهمة</p>
                            <a href="#">
                                اضغط هنا لمشاركة قصتك
                            </a>
                        </div>
                    </aside>
                <!-- 🚫🚫🚫🚫 sidebar  🚫🚫🚫🚫-->
                </div>
                <div class="layout-main home-user-main">
                    <div class="container-fluid layout-fluid header__container">
                        <div class="row">
                            <div class="col-12">
                                <!-- ⭐⭐⭐⭐⭐ header  ⭐⭐⭐⭐⭐-->
                                    <header class="home-header">
                                    </header>
                                <!-- 🚫🚫🚫🚫 header  🚫🚫🚫🚫-->
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <main>
                                    <!-- ⭐⭐⭐⭐⭐ programes  ⭐⭐⭐⭐⭐-->
                                    <div class="home-programes">
                                        <div class="row">
                                            <div class="col-12 cen-row">
                                                <div class="programes-header">
                                                    <div class="section-heading text-center">
                                                        <h3 class="heading">
                                                            البرامج والدروس
                                                        </h3>
                                                        <p class="sub__heading">
                                                            تعرف علي الاحداث القادمة ومكالمات التدريب
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row programes__container">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-top-right cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <a href="#" class="card__link --active">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-top-left cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-bottom-right cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-bottom-left cen-col">
                                                            <h3 class="card__name">
                                                                برنامج قلبك يعرف
                                                            </h3>
                                                            <div class="program__img">
                                                                <img src="./src/images/vumbnail.jpg" alt="vthum" />
                                                            </div>
                                                            <p class="card__brief">الاطلاق الخاص بك</p>
                                                            <p class="card__parts">12 فصل</p>
                                                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                                                                <a href="#" class="card__link ">قريبا</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 🚫🚫🚫🚫 programes  🚫🚫🚫🚫-->
                        
                                    <!-- ⭐⭐⭐⭐⭐ extra programes - 1 ⭐⭐⭐⭐⭐-->
                                    <div class="extra-programes-1">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="programes-header">
                                                    <div class="section-heading text-center">
                                                        <h3 class="heading">
                                                            المواد الاضافية
                                                        </h3>
                                                        <p class="sub__heading">
                                                            تعرف عل المزيد حول الأحداث القاددمة ومكالمات التدريب
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row programes__container">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-top-right  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-top-left  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-bottom-right  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                        <div class="program__card rd-bottom-left  cen-col">
                                                            <h3 class="card__name">
                                                                تعرف علي دروسنا وبرامجنا
                                                            </h3>
                                                            <a href="#" class="card__link">اٍقرا المزيد</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 🚫🚫🚫🚫 extra programes - 1 🚫🚫🚫🚫-->
                                </main>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid layout-fluid">
                         <!-- ⭐⭐⭐⭐⭐ extra programes - 2 ⭐⭐⭐⭐⭐-->
                         <div class="extra-programes-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row programes__container">
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-3.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-2.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-1.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-3.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-2.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="program__card cen-col">
                                                <img src="./src/icons/icon-1.png" alt="icon" class="card__icon img-fluid" >
                                                <h3 class="card__name">
                                                    القيمة المضافة
                                                </h3>
                                                <p class="sub__heading">
                                                    وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 🚫🚫🚫🚫 extra programes - 2 🚫🚫🚫🚫-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 🚫🚫🚫🚫  layout 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
        <footer class="footer__main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-right d-flex align-items-center">
                        <div class="footer__logo">
                            <img src="./src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                        </div>
                        <p class="copy-right">
                            جميع الحقوق محفوظة @2021
                        </p>
                    </div> 
                    <div class="col-md-6 footer-left d-flex justify-content-end">
                        <ul class="list-unstyled footer__items cen-row">
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    سياسية الخصوصية
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">
                                    الشروط والاحكام
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 

    <!-- sidebar main -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./javascript/components/sidebar-main.js"></script>
</body>
</html>