<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | register</title>
</head>
<body>
     <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3 cen-row">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->
    

    <!-- ⭐⭐⭐⭐⭐ layout  ⭐⭐⭐⭐⭐-->
    <div class="layout-main register__main">
        <div class="container-fluid">
            <div class="d-flex layout-row">
                <div class="layout-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="login__main">
                                      <div class="col-12 d-flex align-items-center">
                                        <div class="logo__img d-flex align-items-center">
                                          <img class="img-fluid" src="../assets/images/reham-logo-arabic-white.png" alt="">
                                        </div>
                                      </div>
                                      <div class="col-12 d-md-flex align-items-center justify-content-center">
                                        <form class="__form --warning d-flex flex-column align-items-center">
                                          <div class="form__header">
                                            <p class="heading">
                                              يسرنا إنضمامك معنا
                                            </p>
                                            <p class="sub__heading">
                                              أنتِ على بعد خطوة واحده من بدء أجمل تجربة في حياتك
                                            </p>
                                          </div>
                                          <div class="input__field">
                                            <div class="input__container">
                                              <i class="fa-solid fa-circle-exclamation __icon-right --warrning"></i>
                                              <input type="email" placeholder="البريد الإلكتروني" class="__input"/>
                                              <i class="fa-solid fa-envelope __icon-left"></i>
                                            </div>
                                            <div class="warrning__message"> 
                                              <p>
                                              يرجى إدخال بريد إلكتروني صحيح
                                              </p>
                                            </div>
                                          </div>
                                          <div class="input__field">
                                            <div class="input__container">
                                              <i class="fa-solid fa-circle-exclamation __icon-right --warrning"></i>
                                              <input type="email" placeholder="كلمة السر" class="__input"/>
                                              <i class="fa-solid fa-key __icon-left"></i>
                                            </div>
                                            <div class="warrning__message">
                                              <p class="message">يرجى إدخال  سر صحيحة</p>
                                            </div>
                                          </div>
                                          <div class="link__down">
                                            <a href="/forget-password" class="">
                                              نسيت كلمة السر ؟
                                            </a>
                                          </div>
                                          <div class="input__field">
                                            <div class="input__container">
                                              <i class="fa-solid fa-right-to-bracket __icon-submit"></i>
                                              <input type="submit" value="تسجيل الدخول" class="__input _submit"/>
                                            </div>
                                          </div>
                                          <div class="form__down d-flex align-items-center">
                                            <p>ليس لديك حساب؟</p>
                                            <a href="/register" class="link">
                                              سجل هنا
                                            </a>
                                          </div>
                                        </form>
                                      </div>
                                      
                                    
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 🚫🚫🚫🚫  layout 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
      <div class="container">
          <div class="row">
              <div class="col-md-6 footer-right d-flex align-items-center">
                  <div class="footer__logo">
                      <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                  </div>
                  <p class="copy-right">
                      جميع الحقوق محفوظة @2021
                  </p>
              </div> 
              <div class="col-md-6 footer-left d-flex justify-content-end">
                  <ul class="list-unstyled footer__items cen-row">
                      <li class="footer__item">
                          <a href="#" class="footer__link">
                              سياسية الخصوصية
                          </a>
                      </li>
                      <li class="footer__item">
                          <a href="#" class="footer__link">
                              الشروط والاحكام
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 
    <!-- according  -->
    <script src="../javascript/according.js"></script>
    <!-- sidebar main -->
    <script src="../javascript/components/sidebar-main.js"></script>
</body>
</html>