<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | courses </title>
</head>
<body>
    <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->
    
    <!-- ⭐⭐⭐⭐⭐ breadcrumb  ⭐⭐⭐⭐⭐-->
    <div class="bottom__nav">
        <div class="breadcrumb__program">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item home" >
                        <a href="#">
                            <i class="fa-solid fa-house-chimney"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            برامجي
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1. أنوثة الديفا
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1.1 طاقة الأنوثة
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            الدروس
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
<!-- 🚫🚫🚫🚫  breadcrumb 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ layout  ⭐⭐⭐⭐⭐-->
    <div class="layout-main">
        <div class="container-fluid">
            <div class="d-flex layout-row">
                <div class="side-open" id="sideMainOpen">
                    <div class="icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>
                <div class="side-menu --close" id="sideMenu">
                    <!-- ⭐⭐⭐⭐⭐ sidebar  ⭐⭐⭐⭐⭐-->
                    <aside class="side__bar-main">
                        <div class="aside__top">
                            <div class="close-side" id="closeSideMain">
                                <div class="icon">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <form action="" class="aside__form">
                                <input type="search" class="__input" placeholder="ابحث">
                            </form>
                        </div>
                        <ul class="side__items__section">
                            <li class="side__item heading --heading-active">
                                <a href="../index.html">
                                    الرئيسية
                                </a>
                            </li>
                            <li class="side__item --active">
                                <a href="../getting-started/index.html">
                                    البداية
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../lessone-page/index.html">
                                    البرنامج
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../bounce-courses/index.html">
                                    المواد الاضافيه
                                </a>
                            </li>
                        </ul>
                        <ul class="side__items__section">
                            <li class="side__item heading">
                                <p class="heading">
                                    الموارد
                                </p>
                            </li>
                            <li class="side__item ">
                                <a href="../calendar/index.html">
                                    الرزمانة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../fqa/index.html">
                                    الاسئلة الشائعة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../questionnaire/index.html">
                                    اراء المشتركين
                                </a>
                            </li>
                        </ul>
                        <div class="aside__bottom">
                            <p class="heading">شاركنا قصتك الملهمة</p>
                            <a href="#">
                                اضغط هنا لمشاركة قصتك
                            </a>
                        </div>
                    </aside>
                <!-- 🚫🚫🚫🚫 sidebar  🚫🚫🚫🚫-->
                </div>
                <div class="layout-main courses-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <header class="section-heading">
                                    <h3 class="heading text-center">
                                        برنامج قلبك يعرف
                                    </h3>
                                    <p class="sub__heading text-center">
                                        تعرف على المزيد حول الأحداث القادمة ومكالمات التدريب.
                                    </p>
                                    <p class="section__progress  text-center">
                                        تقدمك العملي في هذا البرنامج
                                    </p>
                                    <p class="progress__count  text-center">
                                        0 %
                                    </p>
                                </header>
                            </div>

                            <div class="col-12">
                                <div class="lessons__container">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-end">
                                            <div class="lesson__passed">
                                                اكتملت المشاهدة 
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="lesson__card d-flex justify-content-between align-items-center">
                                                <div class="card__right">
                                                    <p class="lesson_name">
                                                        <i class="fa-solid fa-caret-left __icon"></i>
                                                        الفصل الاول
                                                    </p>
                                                    <p class="lesson_body">
                                                        إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة 
                                                    </p>
                                                    <p class="lesson__duration">
                                                        [مدة الدرس 20 دقيقة]
                                                    </p>
                                                </div>
                                                <div class="card__center__image">
                                                    <img src="../src/images/course__thum.png" alt="course" class="img-fluid">
                                                </div>
                                                <div class="card__left">
                                                    <div class="card__left__top d-flex  align-items-center">
                                                        <label class="container">
                                                            <input type="checkbox" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="lesson__card d-flex justify-content-between align-items-center">
                                                <div class="card__right">
                                                    <p class="lesson_name">
                                                        <i class="fa-solid fa-caret-left __icon"></i>
                                                        الفصل الاول
                                                    </p>
                                                    <p class="lesson_body">
                                                        إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة 
                                                    </p>
                                                    <p class="lesson__duration">
                                                        [مدة الدرس 20 دقيقة]
                                                    </p>
                                                </div>
                                                <div class="card__center__image">
                                                    <img src="../src/images/course__thum.png" alt="course" class="img-fluid">
                                                </div>
                                                <div class="card__left">
                                                    <div class="card__left__top d-flex  align-items-center">
                                                        <label class="container">
                                                            <input type="checkbox" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="lesson__card d-flex justify-content-between align-items-center">
                                                <div class="card__right">
                                                    <p class="lesson_name">
                                                        <i class="fa-solid fa-caret-left __icon"></i>
                                                        الفصل الاول
                                                    </p>
                                                    <p class="lesson_body">
                                                        إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة 
                                                    </p>
                                                    <p class="lesson__duration">
                                                        [مدة الدرس 20 دقيقة]
                                                    </p>
                                                </div>
                                                <div class="card__center__image">
                                                    <img src="../src/images/course__thum.png" alt="course" class="img-fluid">
                                                </div>
                                                <div class="card__left">
                                                    <div class="card__left__top d-flex  align-items-center">
                                                        <label class="container">
                                                            <input type="checkbox" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 🚫🚫🚫🚫  layout 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-right d-flex align-items-center">
                    <div class="footer__logo">
                        <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="copy-right">
                        جميع الحقوق محفوظة @2021
                    </p>
                </div> 
                <div class="col-md-6 footer-left d-flex justify-content-end">
                    <ul class="list-unstyled footer__items cen-row">
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                سياسية الخصوصية
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                الشروط والاحكام
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 

    <!-- sidebar main -->
    <script src="../javascript/components/sidebar-main.js"></script>
</body>
</html>