<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | getting-started</title>
</head>
<body>
     <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->
    
    <!-- ⭐⭐⭐⭐⭐ breadcrumb  ⭐⭐⭐⭐⭐-->
    <div class="bottom__nav">
        <div class="breadcrumb__program">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item home" >
                        <a href="#">
                            <i class="fa-solid fa-house-chimney"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            برامجي
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1. أنوثة الديفا
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1.1 طاقة الأنوثة
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            الدروس
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
<!-- 🚫🚫🚫🚫  breadcrumb 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ layout  ⭐⭐⭐⭐⭐-->
    <div class="layout-main">
        <div class="container-fluid">
            <div class="d-flex layout-row">
                <div class="side-open" id="sideMainOpen">
                    <div class="icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>
                <div class="side-menu --close" id="sideMenu">
                    <!-- ⭐⭐⭐⭐⭐ sidebar  ⭐⭐⭐⭐⭐-->
                    <aside class="side__bar-main">
                        <div class="aside__top">
                            <div class="close-side" id="closeSideMain">
                                <div class="icon">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <form action="" class="aside__form">
                                <input type="search" class="__input" placeholder="ابحث">
                            </form>
                        </div>
                        <ul class="side__items__section">
                            <li class="side__item heading --heading-active">
                                <a href="../index.html">
                                    الرئيسية
                                </a>
                            </li>
                            <li class="side__item --active">
                                <a href="../getting-started/index.html">
                                    البداية
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../lessone-page/index.html">
                                    البرنامج
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../bounce-courses/index.html">
                                    المواد الاضافيه
                                </a>
                            </li>
                        </ul>
                        <ul class="side__items__section">
                            <li class="side__item heading">
                                <p class="heading">
                                    الموارد
                                </p>
                            </li>
                            <li class="side__item ">
                                <a href="../calendar/index.html">
                                    الرزمانة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../fqa/index.html">
                                    الاسئلة الشائعة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../questionnaire/index.html">
                                    اراء المشتركين
                                </a>
                            </li>
                        </ul>
                        <div class="aside__bottom">
                            <p class="heading">شاركنا قصتك الملهمة</p>
                            <a href="#">
                                اضغط هنا لمشاركة قصتك
                            </a>
                        </div>
                    </aside>
                <!-- 🚫🚫🚫🚫 sidebar  🚫🚫🚫🚫-->
                </div>
                <div class="layout-main getting-started-main">
                    <div class="container custom-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="lesson-card cen-col" >
                                    <header class="header  cen-col">
                                        <h2 class="heading text-center">
                                            مرحبا بكم في صفحة البداية
                                        </h2>
                                        <p class="sub__heading text-center">
                                            هنالك العد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إن كنت تريد أن تستخدم.،
                                        </p>
                                        
                                    </header>
                                    <div class="video__container cen-row">
                                        <iframe 
                                            title="vimeo-player"
                                            src="https://player.vimeo.com/video/835443914?h=cd7c9d3db9"
                                            frameborder="0" 
                                            width="640"
                                            height="360" 
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                    <h3 class="lesson__title text-center">
                                        شاهد مقدمة الدورة وعرفنى بنفسك
                                    </h3>
                                    <p class="lesson__body text-center">
                                        نصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إن كنت تريد أن تستخدم.،
                                    </p>
                                    <a href="#" class="d-block lesson__link text-center">
                                        اضغط هنا للحصول علي الدرس
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="lesson-comments">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="header">
                                                <p class="heading text-center">
                                                    عرفنا على نفسك و شاركنا ارائك بالتعليقات
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="user-comment">
                                                <div class="user__box d-flex flex-column">
                                                    <div class="user__comment__top d-flex align-items-center" >
                                                        <i class="fa-solid fa-gear __icon"></i>
                                                        <p class="user__name ">تم تسجيل الدخول بواسطة  <span class="__name"> اسم افتراضي </span> |</p>
                                                        <a href="#" class="__logout">   تسجيل الخروج </a>
                                                    </div>
                                                    <div class="comment__form">
                                                        <form action="" class="__form d-flex">
                                                            <div class="user__img">
                                                                <img src="../src/images/tetsimoniales.png" class="__img" alt="user">
                                                            </div>
                                                            <textarea  rows="3" class="comment__area" placeholder="انضم الى النقاشات">
                                                            </textarea>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="comments__status d-flex align-items-center justify-content-between">
                                                <div class="box__right  d-flex align-items-center">
                                                    <img  src="../src/images/testimonilaes.jpg" alt="tetsimoniales">
                                                    <img  src="../src/images/testimonilaes.jpg" alt="tetsimoniales">
                                                    <img  src="../src/images/testimonilaes.jpg" alt="tetsimoniales">
                                                    <img  src="../src/images/testimonilaes.jpg" alt="tetsimoniales">
                                                    <div class="comment__count">
                                                        751
                                                        <i class="fa-solid fa-user"></i>
                                                    </div>
                                                </div>
                                                <div class="box__left d-flex align-items-center">
                                                    <div class="comment__count">
                                                        751
                                                        <i class="fa-regular fa-comment"></i>
                                                    </div>
                                                    <div class="comment__count">
                                                        751
                                                        <i class="fa-solid fa-list"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="commment__card d-flex">
                                                    <div class="commment__left d-flex flex-column align-items-center">
                                                        <div class="__img">
                                                            <img src="../src/images/testimonilaes.jpg" alt="user" class="img-fluid">
                                                        </div>
                                                        <p class="user__tag">Member</p>
                                                    </div>
                                                    <div class="commment__right">
                                                        <p class="comment__auth">اسم افتراضي</p>
                                                        <p class="comment__body">
                                                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                                                            أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد

                                                            أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس

                                                            أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت
                                                        </p>
                                                        <div class="comment__down d-flex justify-content-between align-items-center">
                                                            <div class="comment__date">
                                                                7 days ago
                                                            </div>
                                                            <div class="replay__button cen-row">
                                                                <i class="fa-regular fa-comment"></i>
                                                                replay
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="commment__card d-flex">
                                                    <div class="commment__left d-flex flex-column align-items-center">
                                                        <div class="__img">
                                                            <img src="../src/images/testimonilaes.jpg" alt="user" class="img-fluid">
                                                        </div>
                                                        <p class="user__tag">Member</p>
                                                    </div>
                                                    <div class="commment__right">
                                                        <p class="comment__auth">اسم افتراضي</p>
                                                        <p class="comment__body">
                                                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                                                            أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد

                                                            أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس

                                                            أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت
                                                        </p>
                                                        <div class="comment__down d-flex justify-content-between align-items-center">
                                                            <div class="comment__date">
                                                                7 days ago
                                                            </div>
                                                            <div class="replay__button cen-row">
                                                                <i class="fa-regular fa-comment"></i>
                                                                replay
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="commment__card d-flex">
                                                    <div class="commment__left d-flex flex-column align-items-center">
                                                        <div class="__img">
                                                            <img src="../src/images/testimonilaes.jpg" alt="user" class="img-fluid">
                                                        </div>
                                                        <p class="user__tag">Member</p>
                                                    </div>
                                                    <div class="commment__right">
                                                        <p class="comment__auth">اسم افتراضي</p>
                                                        <p class="comment__body">
                                                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                                                            أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد

                                                            أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس

                                                            أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت
                                                        </p>
                                                        <div class="comment__down d-flex justify-content-between align-items-center">
                                                            <div class="comment__date">
                                                                7 days ago
                                                            </div>
                                                            <div class="replay__button cen-row">
                                                                <i class="fa-regular fa-comment"></i>
                                                                replay
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 🚫🚫🚫🚫  layout 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-right d-flex align-items-center">
                    <div class="footer__logo">
                        <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="copy-right">
                        جميع الحقوق محفوظة @2021
                    </p>
                </div> 
                <div class="col-md-6 footer-left d-flex justify-content-end">
                    <ul class="list-unstyled footer__items cen-row">
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                سياسية الخصوصية
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                الشروط والاحكام
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 


    <!-- vimeo-->
    <script src="https://player.vimeo.com/api/player.js"></script>
    <!-- sidebar main -->
    <script src="../javascript/components/sidebar-main.js"></script>
</body>
</html>