
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


html, body{
    font-size: 16px;
    font-family: 'GE Dinar One Medium';
    scroll-behavior: smooth;
    @media screen and (max-width: 320px) {
        font-size: 14px;
    }
}

p,ul,ol{
    margin: 0;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
}