@font-face {
    font-family: 'GE Dinar One Medium';
    src: url('../../src/webfonts/GE-Dinar-One-Medium.otf');
}
@font-face {
    font-family: 'GE Dinar One Medium';
    src: url('../../src/webfonts/alfont_com_GE-Dinar-One-Regular.otf');
}

