<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | Sales</title>
</head>
<body>
    <div class="sales-page-main">
        
            <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
            <nav class="navbar__standard">
                <div class="container">
                    <div class="row justify-content-around align-items-center">
                        <div class="col-4 cen-row">
                            <div class="nav__link">
                                <a href="../login/index.html" >
                                    تسجيل الدخول
                                </a>
                            </div>
                        </div>
                        <div class="col-4 cen-row">
                            <div class=nav__logo">
                                <a href="../login/index.html" >
                                    <img src="../src/images/logo-pink.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-4 cen-row">
                            <div class="nav__link">
                                <a href="../login/index.html" >
                                    الدعم الفني
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </nav>
        <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->

        <!-- ⭐⭐⭐⭐⭐ HEADER ⭐⭐⭐⭐⭐-->
            <header class="sales-header">
                <div class="container custom-container">
                    <div class="row align-items-center">
                        <div class="col-12 cen-row">
                            <div class="video-container  cen-row">
                                <iframe 
                                title="vimeo-player"
                                src="https://player.vimeo.com/video/835443914?h=cd7c9d3db9"
                                width="640"
                                height="360" 
                                frameborder="0"  
                                allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- 🚫🚫🚫🚫 HEADER  🚫🚫🚫🚫-->

        <!-- ⭐⭐⭐⭐⭐ sales-adv ⭐⭐⭐⭐⭐-->
            <div class="sales-adv">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="adv-content cen-col">
                                <p class="adv-body">
                                    يمكنك الحصول على الأمسية مدى الحياة جميع الدروس مسجلة
                                    يمكنك مشاهدها وأنت في بلدك وتحصل كذلك على ملحقات الأمسية        
                                </p>
                                <a href="#" class="adv-link d-block">
                                    احصل على الأمسية الآن
                                </a>
                                <img src="../src/images/secure-payment.png" alt="secure-payment" class="d-block img-fluid secure-img">
                                <p class="adv-body-2">
                                    يمكنك الاشتراك الآن بأقل من دقيقة واحدة
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 🚫🚫🚫🚫 sales-adv  🚫🚫🚫🚫-->
        
        <!-- ⭐⭐⭐⭐⭐ features ⭐⭐⭐⭐⭐-->
            <div class="features">
                <div class="container ">
                    <div class="row">
                        <div class="col-12 feature__container">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="feature-card cen-col">
                                        <img src="../src/images/download-icon.png" alt="icon" class="__img img-fluid d-block">
                                        <p class="__title">
                                            أحتفظ بالمواد لديك مدى الحياة
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="feature-card cen-col">
                                        <img src="../src/images/play-icon.png" alt="icon" class="__img img-fluid d-block">
                                        <p class="__title">شاهد الدروس من أي مكان في العالم</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="feature-card cen-col">
                                        <img src="../src/images/note-icon.png" alt="icon" class="__img img-fluid d-block">
                                        <p class="__title">
                                            احصل على المذكرةالتدريبية للبرنامج
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tutorial-card d-flex align-items-center">
                                <div class="card__img">
                                    <img src="../src/images/book-icon.png" alt="feature" class="__img img-fluid">
                                </div>
                                <div class="card__content">
                                    <h4 class="heading">
                                        الدورة التدريبية - قلبك يعرف
                                    </h4>
                                    <p class="card__body">
                                        عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب من بعده الروحي و النفسي و السيكلوجي و كذلك طاقة الأنوثة و الذكورة في العلاقات. جميع الدروس مسجلة يمكنك متابعتها في الوقت المناسب لك و أنت في بلدك
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tutorial-card d-flex align-items-center">
                                <div class="card__img">
                                    <img src="../src/images/book-icon.png" alt="feature" class="__img img-fluid">
                                </div>
                                <div class="card__content">
                                    <h4 class="heading">
                                        الدورة التدريبية - قلبك يعرف
                                    </h4>
                                    <p class="card__body">
                                        عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب من بعده الروحي و النفسي و السيكلوجي و كذلك طاقة الأنوثة و الذكورة في العلاقات. جميع الدروس مسجلة يمكنك متابعتها في الوقت المناسب لك و أنت في بلدك
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tutorial-card d-flex align-items-center">
                                <div class="card__img">
                                    <img src="../src/images/book-icon.png" alt="feature" class="__img img-fluid">
                                </div>
                                <div class="card__content">
                                    <h4 class="heading">
                                        الدورة التدريبية - قلبك يعرف
                                    </h4>
                                    <p class="card__body">
                                        عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب من بعده الروحي و النفسي و السيكلوجي و كذلك طاقة الأنوثة و الذكورة في العلاقات. جميع الدروس مسجلة يمكنك متابعتها في الوقت المناسب لك و أنت في بلدك
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tutorial-card d-flex align-items-center">
                                <div class="card__img">
                                    <img src="../src/images/book-icon.png" alt="feature" class="__img img-fluid">
                                </div>
                                <div class="card__content">
                                    <h4 class="heading">
                                        الدورة التدريبية - قلبك يعرف
                                    </h4>
                                    <p class="card__body">
                                        عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب من بعده الروحي و النفسي و السيكلوجي و كذلك طاقة الأنوثة و الذكورة في العلاقات. جميع الدروس مسجلة يمكنك متابعتها في الوقت المناسب لك و أنت في بلدك
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gold-payment d-flex align-items-md-center">
                   <div class="container">
                        <div class="cen-row content-box">
                            <div class="right__img">
                                <img src="../src/images/30dayes.png" alt="gold">
                            </div>
                            <p class="lef__body">
                                و نقدم لك الضمان الذهبي في حال لم يلاقي هذا
                                البرنامج تطلعاتك يمكنك استرجاع المبلغ المدفوع
                                عن طريق التواصل مع فريق العمل
                            </p>
                        </div>
                   </div>
                </div>
            </div>
        <!-- 🚫🚫🚫🚫 features  🚫🚫🚫🚫-->
        
        <!-- ⭐⭐⭐⭐⭐ sales-adv ⭐⭐⭐⭐⭐-->
            <div class="about__tutorial">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="heading text-center">
                                ماذا سنتعلم  في الأمسية؟
                            </h3>
                            <ul class="tutorial__items text-center ">
                                <li class="tutorial__item">
                                    الذكورة في العلاقات. جميع الدروس مسجلة الذكورة في العلاقات. جميع الدروس مسجلة.
                                </li>
                                <li class="tutorial__item">
                                    عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب.
                                </li>
                                <li class="tutorial__item">
                                    كذلك طاقة الأنوثة و الذكورة في العلاقات جميع الدروس مسجلة يمكنك متابعتها.
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <h3 class="heading text-center">
                                هل هذه الأمسية مناسبة لي؟
                            </h3>
                            <ul class="tutorial__items text-center ">
                                <li class="tutorial__item">
                                    الذكورة في العلاقات. جميع الدروس مسجلة الذكورة في العلاقات. جميع الدروس مسجلة.
                                </li>
                                <li class="tutorial__item">
                                    عضوية سنوية في برنامج الحب الروحي  الذي يتناول الحب.
                                </li>
                                <li class="tutorial__item">
                                    كذلك طاقة الأنوثة و الذكورة في العلاقات جميع الدروس مسجلة يمكنك متابعتها.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 🚫🚫🚫🚫 features  🚫🚫🚫🚫-->

        <!-- ⭐⭐⭐⭐⭐ sales-adv ⭐⭐⭐⭐⭐-->
            <div class="sales-adv">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12 cen-row">
                            <div class="adv-content cen-col">
                                <p class="adv-body">
                                    يمكنك الحصول على الأمسية مدى الحياة جميع الدروس مسجلة
                                    يمكنك مشاهدها وأنت في بلدك وتحصل كذلك على ملحقات الأمسية        
                                </p>
                                <a href="#" class="adv-link  d-block">
                                    احصل على الأمسية الآن
                                </a>
                                <img src="../src/images/secure-payment.png" alt="secure-payment" class="d-block img-fluid secure-img">
                                <p class="adv-body-2">
                                    يمكنك الاشتراك الآن بأقل من دقيقة واحدة
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 🚫🚫🚫🚫 sales-adv  🚫🚫🚫🚫-->
        <!-- ⭐⭐⭐⭐⭐ sales-adv ⭐⭐⭐⭐⭐-->
            <div class="sales-adv">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="adv-content cen-col">
                                <p class="adv-body">
                                    يمكنك الحصول على الأمسية مدى الحياة جميع الدروس مسجلة
                                    يمكنك مشاهدها وأنت في بلدك وتحصل كذلك على ملحقات الأمسية        
                                </p>
                                <a href="#" class="adv-link d-block">
                                    احصل على الأمسية الآن
                                </a>
                                <img src="../src/images/secure-payment.png" alt="secure-payment" class="d-block img-fluid secure-img">
                                <p class="adv-body-2">
                                    يمكنك الاشتراك الآن بأقل من دقيقة واحدة
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 🚫🚫🚫🚫 sales-adv  🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-right d-flex align-items-center">
                    <div class="footer__logo">
                        <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="copy-right">
                        جميع الحقوق محفوظة @2021
                    </p>
                </div> 
                <div class="col-md-6 footer-left d-flex justify-content-end">
                    <ul class="list-unstyled footer__items cen-row">
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                سياسية الخصوصية
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                الشروط والاحكام
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 
    </div>
    <!-- vimeo-->
    <script src="https://player.vimeo.com/api/player.js"></script>
    <!-- sidebar main -->
    <script src="../javascript/components/sidebar-main.js"></script>
</body>
</html>