<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="../css/all.min.css" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | Case Studies </title>
</head>
<body>

    <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ modal  ⭐⭐⭐⭐⭐-->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="case__modal">
                        <p class="case__heading">
                            عندما عادت لورين دالمير من إجازة الأمومة ، وجدت نفسها تتبعها.
                            عندما عادت لورين دالمير من.
                        </p>
                        <p class="sub__heading">
                            خالد الحمود - مدير عام قطاع الشؤون الاداريه و التطوير
                        </p>
                    </div>
                    <div class="video__container cen-row">
                        <iframe 
                            title="vimeo-player"
                            src="https://player.vimeo.com/video/835443914?h=cd7c9d3db9"
                            frameborder="0" 
                            width="640"
                            height="360" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <<!-- 🚫🚫🚫🚫 modal  🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ header  ⭐⭐⭐⭐⭐-->
        <main class="testimoniales__main">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="--heading-page">
                            قصص ملهمة من ريهام ديفا
                        </p>
                        <p class="--sub-heading-page">
                             لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو  ات دولار ماجنا أليكيوا 
                        </p>
                    </div>
                    <div class="col-12">
                        <!-- ⭐⭐⭐⭐⭐ testimoniales  ⭐⭐⭐⭐⭐-->
                        <div class="testimoniales">
                            <div class="testimoniales__header  d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          اعرض جميع الحالات
                                        </button>
                                        <div class="dropdown-menu" id="dropDownMenu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">حالة 1</a>
                                          <a class="dropdown-item" href="#"> حالة 2</a>
                                          <a class="dropdown-item" href="#"> حالة 3</a>
                                        </div>
                                      </div>
                                </div>
                                <p class="content">
                                    عرض جميع دراسات الحالة لم يتم اختبار فئة
                                </p>
                            </div>
                        </div>

                    <!-- 🚫🚫🚫🚫 testimoniales   🚫🚫🚫🚫-->
                    </div>
                    <div class="col-12">
                        <div class="row card__row">
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xs-6 col-md-4">
                                <div class="case__card">
                                    <div class="case__img">
                                        <img src="../src/images/person.jpg" alt="person" class="img-fluid">
                                    </div>
                                    <div class="case__content">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                            <a href="#" class="case__heading">
                                                كان عليها تغيير خططها وانشاء نموذج عمل جديد سريعا...
                                            </a>
                                        </button>
                                        <p class="case__name">
                                            روان الزنكي
                                        </p>
                                        <p class="case__title">
                                            مسؤول ابداعي وكبير المسؤلين
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <!-- 🚫🚫🚫🚫 header  🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-right d-flex align-items-center">
                    <div class="footer__logo">
                        <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="copy-right">
                        جميع الحقوق محفوظة @2021
                    </p>
                </div> 
                <div class="col-md-6 footer-left d-flex justify-content-end">
                    <ul class="list-unstyled footer__items cen-row">
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                سياسية الخصوصية
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                الشروط والاحكام
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 
    <!--  -->
        <script src="../javascript/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>