<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../favicon_io/logo192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../src/favicon_io/favicon-16x16.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.rtl.css" />
    <!-- fontawsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css" />  
    <title>Reham | FQA</title>
</head>
<body>
     <!-- ⭐⭐⭐⭐⭐ navbar  ⭐⭐⭐⭐⭐-->
        <nav class="navbar__main">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3 col-12 col-xs-3">
                        <div class="nav__logo ">
                            <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-xs-9 col-md-6 d-flex justify-content-center justify-content-md-end">
                        <ul class="nav__items d-flex list-unstyled justify-content-center  justify-content-md-end">
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    البرامج
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/profile/index.html" class="nav__link">
                                    حسابك
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="/lessones-page/index.html" class="nav__link">
                                    الدعم الفني
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>
    <!-- 🚫🚫🚫🚫 navbar  🚫🚫🚫🚫-->
    
    <!-- ⭐⭐⭐⭐⭐ breadcrumb  ⭐⭐⭐⭐⭐-->
    <div class="bottom__nav">
        <div class="breadcrumb__program">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item home" >
                        <a href="#">
                            <i class="fa-solid fa-house-chimney"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            برامجي
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1. أنوثة الديفا
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            1.1 طاقة الأنوثة
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex align-items-center">
                        <i class="fa-sharp fa-solid fa-arrow-left-long __icon"></i>
                        <a href="#" class="d-block0"> 
                            الدروس
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
<!-- 🚫🚫🚫🚫  breadcrumb 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ layout  ⭐⭐⭐⭐⭐-->
    <div class="layout-main">
        <div class="container-fluid">
            <div class="d-flex layout-row">
                <div class="side-open" id="sideMainOpen">
                    <div class="icon">
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>
                <div class="side-menu --close" id="sideMenu">
                    <!-- ⭐⭐⭐⭐⭐ sidebar  ⭐⭐⭐⭐⭐-->
                    <aside class="side__bar-main">
                        <div class="aside__top">
                            <div class="close-side" id="closeSideMain">
                                <div class="icon">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <form action="" class="aside__form">
                                <input type="search" class="__input" placeholder="ابحث">
                            </form>
                        </div>
                        <ul class="side__items__section">
                            <li class="side__item heading --heading-active">
                                <a href="../index.html">
                                    الرئيسية
                                </a>
                            </li>
                            <li class="side__item --active">
                                <a href="../getting-started/index.html">
                                    البداية
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../lessone-page/index.html">
                                    البرنامج
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../bounce-courses/index.html">
                                    المواد الاضافيه
                                </a>
                            </li>
                        </ul>
                        <ul class="side__items__section">
                            <li class="side__item heading">
                                <p class="heading">
                                    الموارد
                                </p>
                            </li>
                            <li class="side__item ">
                                <a href="../calendar/index.html">
                                    الرزمانة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../fqa/index.html">
                                    الاسئلة الشائعة
                                </a>
                            </li>
                            <li class="side__item ">
                                <a href="../questionnaire/index.html">
                                    اراء المشتركين
                                </a>
                            </li>
                        </ul>
                        <div class="aside__bottom">
                            <p class="heading">شاركنا قصتك الملهمة</p>
                            <a href="#">
                                اضغط هنا لمشاركة قصتك
                            </a>
                        </div>
                    </aside>
                <!-- 🚫🚫🚫🚫 sidebar  🚫🚫🚫🚫-->
                </div>
                <div class="layout-main fqa-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <header class="section-heading">
                                    <h3 class="heading text-center">
                                        الاسئلة الشائعة والمصطلحات
                                    </h3>
                                    <p class="sub__heading text-center">
                                        تعرف على المزيد حول الأحداث القادمة ومكالمات التدريب.
                                    </p>
                                </header>
                            </div>
                            <div class="col-12">
                                <div class="questions__container">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️
                                                ==> data-index of toggle__btn and id of according__body must have the same value
                                            ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️ -->
                                            <div class="question__card"  id="according-2">
                                                <div class="question__title">
                                                    <button class="toggle__btn d-flex align-items-center toggle__according" data-index="according-2">
                                                        <i class="fa-solid fa-plus __icon"></i>
                                                        <p class="question__body">
                                                            أين أحصل على المذكرة التدريبية؟
                                                        </p>
                                                    </button>
                                                </div>
                                                <div class="according__body">
                                                    <p class="answer__body">
                                                        تجدين المذكرة التدريبية في أول درس من كل فصل جديد وبالنسبة للمواد الإضافية تجدين المذكرة التدريبية في صفحة المادة الإضافية
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 🚫🚫🚫🚫  layout 🚫🚫🚫🚫-->

    <!-- ⭐⭐⭐⭐⭐ footer ⭐⭐⭐⭐⭐-->
    <footer class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-right d-flex align-items-center">
                    <div class="footer__logo">
                        <img src="../src/images/reham-logo-arabic-white.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="copy-right">
                        جميع الحقوق محفوظة @2021
                    </p>
                </div> 
                <div class="col-md-6 footer-left d-flex justify-content-end">
                    <ul class="list-unstyled footer__items cen-row">
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                سياسية الخصوصية
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">
                                الشروط والاحكام
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- 🚫🚫🚫🚫 footer 🚫🚫🚫🚫--> 
    <!-- according  -->
    <script src="../javascript/according.js"></script>
    <!-- sidebar main -->
    <script src="../javascript/components/sidebar-main.js"></script>
</body>
</html>